body {
    background-image: url(images/background.jpg);
    background-color: #32CD32; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
   }

h3  {
    color: "#32CD32"
   }